*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    width: 1200px; 
    margin: auto;
    
}
.f{
    display: flex; 
 }
.ai{
    align-items: center;
}
.header{padding: 20px 0;}
nav
{
    padding: 30px;
    margin: 10px;
}
.banner{ height: 400px;
    background: url(https://i.ibb.co/zGSDGCL/slide1.png); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}
.btn
{
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    margin: 270px;
}
.box{
    padding: 15px 0;
    margin: 20px;
}
gap{
    gap: 15px;
}
.banner2
{   
    height: 400px;
    background: url(https://i.ibb.co/tBJGPD9/xbox.png); 
    background-size: cover;
    background-repeat: no no-repeat;
    padding: 20px;}
.banner3{
    height: 400px;
    background: url(https://i.ibb.co/72cgtsz/carbon.jpg); 
    background-size: cover; 
    background-repeat: no no-repeat;
    padding: 20px;
    color: white;
}
footer{
    background: #F2F2F2; padding: 40px 0;
}
.jc{
        justify-content: space-between;
    }

footer ul{
    list-style: none;}
footer li{
    line-height: 32px; }
    .btn2
{
    background-color: white;
    color: black;
    padding: 10px;
    display: inline-block;
    font-size: medium;
}




